main {
  font-family: Tahoma;
  display: inline-block;
  text-align: center;
}

.heading1 {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
}


ul {
  padding-bottom: 15px;
  text-align: left;
  font-size: 1.1em;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 50px;
}

li {
  padding-left: 50px;
  padding-bottom: 15px;
  font-size: 1.1em;
}

h1 {
  font-size: 3em;
  padding-bottom: 0;
}

h2 {
  font-size: 1.3em;
  padding-top: -30px;
  padding-bottom: 5px;
}

.heading2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.8em;
}

footer {
  font-size: 1.18em;
}
